<h1>New Bookmark</h1>
  <%= form_for @bookmark do |f| %>
    <div class="form-group">
      <%=f.label :address %><br/>
      <%=f.text_field :url, class: 'form_control', placeholder: "Enter URL here" %>
      <br/>
      <small>Format: http://wwww.example.com </small>
    </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>