<h1>New Bookmark</h1>
  <%= form_for @bookmark do |f| %>
    <div class="form-group">
      <%=f.label :address %>
      <%=f.text_field :url, class: 'from_control', placeholder: "Enter URL here" %>
    </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>