<h1>New Topic</h1>
  <%= form_for @topic do |f| %>
    <div class="form-group">
      <%=f.label :Title %>
      <%= f.text_field :title, class: 'form_control', placeholder: "Enter Topic here" %>
    </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>