<div class="sec">
  <div class="row">
    <div class="col-md-12">
      <h1 id="about_header"> <i class="fa fa-bookmark fw"></i> My Corner Fold</h1>

    <div id= "about_info">
      <div class="col-md-4">
        <i class="fa fa-sitemap fa-5x"></i>
        <h3>Organize</h3>
          <p class='lead'>
            Your bookmark list can become long and overwelling. Becoming very
            unproductive and inefficient. MyCornerFold helps make your daily web
            experince awesome by organizing your bookmarks into topics for a
            quick guide to all your favorite sites.
          </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-envelope fa-5x"></i>
        <h3>Email</h3>
          <p class='lead'>
            Add any bookmark to your list by sending an email to  postmaster@app9e24e2a6f78b43e99ce818679a7eff17.mailgun.org
            Placing the topic in the subject line and the URL in the email body. Making it quick and painless to update your email list.
          </p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-thumbs-o-up fa-4x"></i>
        <h3>Discover</h3>
          <p class='lead'>
            Experience more on the web by not only exploring what other users have
            set as there bookmarks. But by liking theres you can update your bookmarks
            to have quick asccess to all your new favorite sites
            you never knew existed.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% unless current_user %>
      <div class= "about_sign_up">
        <p><%= link_to "Sign up", new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
      </div>
    <% end %>
  </div>
</div>
