<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1><i class="fa fa-bookmark fw"></i> Welcome to MyCornerFold</h1>
      <% unless current_user %>
        <p class="lead">
          Overwhelmed by your internet experience? Wasting to much of your valuable time searching for useful websites? Or left feeling the internet has more to offer?  If so find out how MyCornerFold will change your daily internet experience.
        </p>
        <p><%= link_to "Learn more", about_path, class: 'btn btn-primary btn-lg' %></p>
      <% else %>
        <p class="lead">
          A better internet experience awaits you with MyCornerFold. Start navigating the internet with ease and efficiency today!
        </p>
      <% end %>
    </div>
  </div>

</div>