<div class="sec">
  <div class="row">
    <h1 class="center header1"><i class="fa fa-bookmark fw"></i> MyCornerFold</h1>
    <p class="intro-p"> Changing your internet experience one bookmark at a time.</p>
  <div class="icon-c">
    <div class="col-md-4">
      <i class="fa fa-clock-o fa-5x"></i>
      <p class="icon-h"> Save Time</p>
      <p class="lead"> Quickly navigate your favorite sites with organized thumbnails of all your bookmarks.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-search fa-5x"></i>
      <p class="icon-h"> Explore </p>
      <p class="lead">Find new websites by navigating all topics and bookmarks that other users have saved.</p>
    </div>
    <div class="col-md-4">
      <i class="fa fa-thumbs-o-up fa-5x"></i>
      <p class="icon-h"> Enjoy </p>
      <p class="lead"> Find a new website that you enjoy Simply Like to save to your personal bookmark page.</p>
    </div>
  </div>
  </div>
<div class="row">
  <div class="col-md-12 col-md-offset-6">
    <div class="icon-down">
      <i class="fa fa-angle-down fa-5x"></i>
    </div>
  </div>
</div>
</div>