@import "bootstrap-sprockets";
@import "bootstrap";

body{
  color: white;
  background-color: #5E5E5E;
}

.sec{
  padding-top: 80px;
}

.header1{
  padding-top: 20px;
  font-size: 7rem;
}

.user-info{
  margin-top: 12px;
}

.sign{
  margin-right: 20px;
}
.nav-hover:hover{
  color: #FFF;
  background-color: #22A7F0;
}

.btn-primary{
  background-color: #22A7F0;
}

.nav{
  margin-top:  5px;
}

// Landing //

.center{
  text-align: center;
}


.top-title{
  font-size: 8rem;
  font-weight: 100;
}

.icon-h{
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 3rem;
}

.icon-d{
  text-align: center;
}
.intro-p{
  margin-top: 60px;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.icon-c{
  margin-top: 25px;
  padding: 50px;
  text-align: center;
}

// About //
#about_header{
  font-size: 40pt;
  margin: 10px;
  text-align: center;
}

#about_info{
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.about_sign_up{
  text-align: center;
}

// Thumbnail //

.thumbnail{
  height: 200px;
  width: 200px;
  margin: 15px;
  background-color: #D2D7D3;
  color: black;
  text-align: center;
  overflow: auto;
}

.thumb{
  height: 100px;
  width: 100px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}



.delete-book{
  margin-top: -3px;
  text-align: right;
}

// Likes //

.likes{
  text-align: center;
}

// Welcome //

.welcome-img{
  background: image-url("bookmark.jpg") no-repeat ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome{
  opacity: 1;
  height: auto;
}