@import "bootstrap-sprockets";
@import "bootstrap";

.user-info{
  margin-top: 12px;
}

.nav{
  margin-top:  5px;
}

// About //
#about_header{
  font-size: 40pt;
  margin: 10px;
  text-align: center;
}

#about_info{
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.about_sign_up{
  text-align: center;
}

// Thumbnail //

.thumbnail{
  height: 200px;
  width: 200px;
  margin: 15px;
  text-align: center;
  overflow: auto;
}

.thumb{
  height: 100px;
  width: 100px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}



.delete-book{
  margin-top: -3px;
  text-align: right;
}

// Likes //

.likes{
  text-align: center;
}