@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-color: #ECECEC;

}

.sec{
  padding-top: 80px;
}

.header1{
  padding-top: 20px;
  font-size: 7rem;
}

.user-info{
  margin-top: 12px;
}

.sign{
  margin-right: 20px;
}
.nav-hover:hover{
  color: #FFF;
  background-color: #4B77BE;
}

.btn-primary{
  background-color: #22A7F0;
}

.nav{
  margin-top:  5px;
}

// Landing //

.center{
  text-align: center;
}


.top-title{
  font-size: 8rem;
  font-weight: 100;
}

.icon-h{
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 3rem;
}

.icon-d{
  text-align: center;
}
.intro-p{
  margin-top: 60px;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}

.icon-c{
  margin-top: 25px;
  padding: 50px;
  text-align: center;
}

// About //
#about_header{
  font-size: 40pt;
  margin: 10px;
  text-align: center;
}

#about_info{
  padding-top: 20px;
  margin: 30px;
}

.about_sign_up{
  text-align: center;
}

.arrow-down{
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: #000000;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #CCCCCC;
}
a:active {
  color: #000000;
}

// Thumbnail //

.thumbnail{
  height: 200px;
  width: 200px;
  margin: 15px;
  border: none;
  background-color: #ffffff;
  color: black;
  text-align: center;
  overflow: auto;
}

.thumb{
  height: 100px;
  width: 100px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}



.delete-book{
  margin-top: -3px;
  text-align: right;
}

// Likes //

.likes{
  text-align: center;
}